<!doctype html>
{% extends 'web/base/base.html' %}

{% block header %}
<h1>biz-matching</h1>
{% endblock header %}

{% block content%}
<h1>新しいマッチを見つけよう</h1>
    <form action="#" method="post">
        <p>メールアドレス：<br>
        <input type="text" name="email"></p>
        <p>パスワード：<br>
        <input type="text" name="password"></p>
    </form>

        <a href="">※パスワードをお忘れの場合</a>

            <input type="button" onclick="location.href='#!'" value="ログイン">

            <hr>

                <p>新規登録</p>

                <input type="button" onclick="location.href='#!'" value="Google"><br>
                <input type="button" onclick="location.href='#!'" value="LINE"><br>
                <input type="button" onclick="location.href='#!'" value="Twitter"><br>
                <input type="button" onclick="location.href='#!'" value="Apple ID">



{% endblock content%}